<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      lang="Pl/pl">
<head>
    <title>Event Site</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" href="/css/MainStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<!-- header -->
<div th:replace="~{layouts/commonHeader :: header}"></div>

<!-- navigationBar -->
<div th:replace="~{layouts/commonNav :: nav}"></div>

<!-- content -->
<div layout:fragment="content"> </div>

<!-- footer -->
<div th:replace="~{layouts/commonfooter :: footer}"></div>
</body>
</html>