<!DOCTYPE HTML>
<html lang="pl/PL"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{layouts/defaultLayout}">
<head>
  <title>Stona Główna</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="css/MainStyle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid"  layout:fragment="content">
  <main>
    Najlepsze wydarzenia dostępne <a>Tutaj!</a> Zapisz się dziś!
  </main>
  <aside>
    <p>Zalogowano jako:</p>
    <p>Login: <span ></span></p>
    <p><a href="/register/">Rejestracja</a></p>
  </aside>
</div>
</body>
</html>