<!DOCTYPE html>
<html lang="pl/PL"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" href="/css/registerStyle.css">
    <script>
        function validatePassword(){
            var password = document.getElementById("pass");
            var confirm_password = document.getElementById("cpass");

            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
    </script>
</head>
<body>
  <main>
      <form action="#" th:action="@{/register/process}" th:object="${user}" method="post">
          Rejestracja nowego konta:
          </br>
          <table>
              <tr>
                  <td>Imię</td>
                  <td><input type="text" required th:field="*{firstName}"></td>
              </tr>
              <tr>
                  <td>Nazwisko:</td>
                  <td><input type="text" required th:field="*{lastName}"></td>
              </tr>
              <tr>
                <td>Login:</td>
                <td><input type="text" required th:field="*{userName}"></td>
              </tr>
              <tr>
                 <td>Hasło:</td>
                 <td><input type="password" required th:field="*{password}" id="pass" onchange="validatePassword()"></td>
              </tr>
              <tr>
                  <td>Powtórz hasło:</td>
                  <td><input type="password" required th:field="*{confirmPassword}" id="cpass" onkeyup="validatePassword()"></td>
              </tr>
              <tr>
                  <td>Email:</td>
                  <td><input type=email required th:field="*{email}"></td>
              </tr>
          </table>
          <p><input type="submit" value="Zarejestruj"></p>
      </form>
  </main>
  <footer>
      © 2023 PSW pojekt by Robert Nowakowski
  </footer>
</body>
</html>